<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <title>Home</title>
</head>

<body>
    <div class="container">
        <form   action="/" method="POST">
            <div class="mb-3">
                <label for="field" class="form-label">FavouriteField</label>
                <select class="form-select"  name = " " aria-label="Default select example">
                <option selected>Open this select menu</option>
                <option value="1">IT</option>
                <option value="2">Com-Sci</option>
                <option value="3">Com-En</option>
              </select>
            </div>
            <div class="mb-3">
                <label for="camp" class="form-label">FavouriteCamp</label>
                <select class="form-select" aria-label="Default select example">
                <option selected>Open this select menu</option>
                <option value="1">IT</option>
                <option value="2">Com-Sci</option>
                <option value="3">Com-En</option>
              </select>
            </div>
            <div class="mb-3">
                <label for="important" class="form-label">Important Things</label>
                <select class="form-select" aria-label="Default select example">
                <option selected>Open this select menu</option>
                <option value="1">UI</option>
                <option value="2">UX</option>
                <option value="3">User Requirement</option>
              </select>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="checkbox" value="" id="java">
                <label class="form-check-label" for="java">
              Java
            </label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="checkbox" value="" id="python">
                <label class="form-check-label" for="flexCheckChecked">
              Python
            </label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="checkbox" value="" id="java script">
                <label class="form-check-label" for="java script">
              java script
            </label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="checkbox" value="" id="c">
                <label class="form-check-label" for="c">
              C#
            </label>
            </div>
            <button type="submit" name="input" class="btn btn-primary">บันทึก</button>
        </form>
    </div>
</body>

</html>